<div class="about-contact">
  <div id="contact-half" class="half-contact is-contact">
    <div class="form-loader">
      <div class="form-loader-content">
        <div class="stripe-loader">
          <div class="stripe"></div>
          <div class="stripe"></div>
          <div class="stripe"></div>
        </div>
      </div>
    </div>
    <div class="form-loader-before"></div>
    <div class="giga-text">Contact</div>
    <div class="contact-info">
      <h3 class="h4 form-title">Let’s talk.</h3>
      <p class="form-subtitle">Book your free one hour consultation.</p>
      <div class="inner-container">
        <form
          action="https://formspree.io/f/mayajzyv"
          method="post"
          id="fs-embedded-contact-form"
          name="fs-embedded-contact-form"
          class="validate the-form no-smoothState"
          target="_blank"
        >
          <div class="input required">
            <input type="text" name="name" id="full-name" required />
            <label class="label">Full Name</label>
          </div>
          <div class="input required email">
            <input type="email" id="EMAIL" name="_replyto" required />
            <label class="label">E-mail</label>
          </div>
          <div class="input required email" style="margin-bottom: 15px">
            <input type="text" id="PHONE" name="telephone" />
            <label class="label">Phone</label>
          </div>
          <div class="input">
            <textarea id="message" name="message" spellcheck="false"></textarea>
            <label class="label">Message</label>
          </div>
          <div class="inner-container">
            <input
              type="submit"
              value="Book Consultation"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button btn-primary"
            />
            <div class="button-mask"></div>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display: none"></div>
            <div class="response" id="mce-success-response" style="display: none"></div>
          </div>
          <input type="hidden" name="_subject" id="email-subject" value="Contact Enquiry" />
        </form>
      </div>
      <div class="close-contact">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="half-contact is-about">
    <div class="giga-text">About</div>
    <div class="contact-info">
      <h3 class="h4 about-me-title">Ascend to new heights.</h3>
      <h4 class="h5 about-me-subtitle">Solid execution cannot exist without a clear vision.</h4>
      <p class="about-me-text">
        Why wait to reach your goals in business? Our team of dedicated problem solvers are eager to take on any
        challenge in order to assist you to reach new heights. Just provide us with information on your business,
        proposal, timeline, and budget so we can assist you with the best possible package to deliver and execute your
        vision.
      </p>
    </div>
  </div>
</div>