<div class="flex flex-col gap-2 group h-fit">
    <a href="/blog/{{ post.slug }}">
        <img src="{{ post.coverImage.url }}" alt="{{ post.imageAlt }}" class="object-cover transition-transform aspect-video rounded-xl group-hover:rotate-2"></a>
        <a href="/blog/{{ post.slug }}">
            <p class="text-sm">{{ post.author.name }} | {{ post.date | postDate }}</p>
        </a>
        <a href="/blog/{{ post.slug }}">
            <h3 class="text-2xl font-bold">{{ post.title }}</h3>
        </a>
        {% if exerpt %}
            <a href="/blog/{{ post.slug }}">
                <p>{{ post.description | makeExcerpt }}</p>
            </a>
        {% endif %}
    </div>