<a href="/blog/{{ post.slug }}" class="relative block overflow-hidden group h-fit aspect-[16/10] rounded-2xl">
    <img src="{{ post.coverImage.url }}" alt="{{ post.imageAlt }}" class="object-cover w-full h-full transition-transform duration-500 group-hover:scale-105">
    <div class="absolute inset-0 bg-gradient-to-t from-black via-black/60 to-transparent">
        <div class="absolute bottom-0 left-0 right-0 p-6">
            <p class="text-sm text-white/60">{{ post.author.name }} | {{ post.date | postDate }}</p>
            <h3 class="mt-1 text-xl font-bold text-white">{{ post.title }}</h3>
            {% if exerpt %}
                <p class="mt-1 text-sm text-white/50 line-clamp-2">{{ post.description | makeExcerpt }}</p>
            {% endif %}
        </div>
    </div>
</a>
