<div class="flex flex-col gap-2 group h-fit">
    <a href="{{ post.url }}">
        <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="object-cover transition-transform aspect-video rounded-xl group-hover:rotate-2"></a>
        <a href="{{ post.url }}">
            <p class="text-sm">{{ post.data.author }} | {{ post.date | postDate }}</p>
        </a>
        <a href="{{ post.url }}">
            <h3 class="text-2xl font-bold">{{ post.data.title }}</h3>
        </a>
        {% if exerpt %}
            <a href="{{ post.url }}">
                <p>{{ post.data.description | makeExcerpt }}</p>
            </a>
        {% endif %}
    </div>