<footer class="bg-green-900 mt-10 lg:mt-20">
    <div class="container mx-auto px-5 py-5 lg:py-10 flex flex-col lg:flex-row justify-between gap-8 divide-neutral-400 divide-y-2 lg:divide-y-0">
        <div class="flex flex-col items-center lg:items-start">
            <img class="lg:hidden h-20" src="/assets/images/transparentLogo.png" alt="logo-icon"/>
            <img class="hidden lg:block h-14" src="/assets/images/transparent_brand.png" alt="logo"/>
            <ul class="mt-4 flex flex-col gap-4 items-center lg:items-start">
                <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/legal-information">Legal Information</a></li>
            </ul>
        </div>
        <div class="flex flex-col items-center lg:items-end py-8 lg:py-0 lg:justify-end">
            <p>Join the Ascension Vision</p>
            <p>Follow us: @ascensionvision</p>
            <ul class="mt-4 flex gap-4 text-xl">
                <a href="http://facebook.com/ascensionvision" target="_blank" rel="noreferrer noopener">
                    <i class="fab fa-facebook hover:text-green-200 transition-colors p-2"></i>
                </a>
                <a href="http://twitter.com/ascensionvision" target="_blank" rel="noreferrer noopener">
                    <i class="fab fa-twitter hover:text-green-200 transition-colors p-2"></i>
                </a>
                <a href="https://www.linkedin.com/company/ascension-vision/" target="_blank" rel="noreferrer noopener">
                    <i class="fab fa-linkedin hover:text-green-200 transition-colors p-2"></i>
                </a>
                <a href="http://www.instagram.com/ascensioncloudsolutions" target="_blank" rel="noreferrer noopener">
                    <i class="fab fa-instagram hover:text-green-200 transition-colors p-2"></i>
                </a>
            </ul>
        </div>

    </div>
</footer>