<footer class="mt-10 border-t bg-black border-border lg:mt-20">
    <div class="container flex flex-col justify-between gap-8 px-5 py-8 mx-auto divide-y divide-border lg:py-12 lg:flex-row lg:divide-y-0">
        <div class="flex flex-col items-center lg:items-start">
            <img class="h-10 lg:hidden" src="/assets/images/logo-icon.svg" alt="logo-icon"/>
            <img class="hidden lg:block h-8" src="/assets/images/logo.svg" alt="logo"/>
            <ul class="flex flex-col items-center gap-3 mt-6 text-sm text-muted-foreground lg:items-start">
                <li>
                    <a href="/terms-and-conditions" class="transition-opacity hover:opacity-70 hover:text-foreground">Terms & Conditions</a>
                </li>
                <li>
                    <a href="/privacy-policy" class="transition-opacity hover:opacity-70 hover:text-foreground">Privacy Policy</a>
                </li>
                <li>
                    <a href="/legal-information" class="transition-opacity hover:opacity-70 hover:text-foreground">Legal Information</a>
                </li>
            </ul>
        </div>
        <div class="flex flex-col items-center pt-8 lg:items-end lg:pt-0 lg:justify-end">
            <p class="text-sm text-foreground">Join the Ascension Vision</p>
            <p class="text-sm text-muted-foreground">Follow us: @ascensionvision</p>
            <ul class="flex gap-4 mt-4 text-xl">
                <a href="http://facebook.com/ascensionvision" target="_blank" rel="noreferrer noopener">
                    <i class="p-2 transition-colors fab fa-facebook text-muted-foreground hover:text-primary"></i>
                </a>
                <a href="http://twitter.com/ascensionvision" target="_blank" rel="noreferrer noopener">
                    <i class="p-2 transition-colors fab fa-twitter text-muted-foreground hover:text-primary"></i>
                </a>
                <a href="https://www.linkedin.com/company/ascension-vision/" target="_blank" rel="noreferrer noopener">
                    <i class="p-2 transition-colors fab fa-linkedin text-muted-foreground hover:text-primary"></i>
                </a>
                <a href="http://www.instagram.com/ascensioncloudsolutions" target="_blank" rel="noreferrer noopener">
                    <i class="p-2 transition-colors fab fa-instagram text-muted-foreground hover:text-primary"></i>
                </a>
            </ul>
        </div>
    </div>
</footer>
