<footer class="mt-10 text-black bg-green-100 lg:mt-20">
    <div class="container flex flex-col justify-between gap-8 px-5 py-5 mx-auto divide-y-2 lg:py-10 lg:flex-row divide-neutral-400
            lg:divide-y-0">
        <div class="flex flex-col items-center lg:items-start">
            <img class="h-20 invert contrast-0 lg:hidden" src="/assets/images/transparentLogo.png" alt="logo-icon"/>
            <img class="hidden invert contrast-0 lg:block h-14" src="/assets/images/transparent_brand.png" alt="logo"/>
            <ul class="flex flex-col items-center gap-4 mt-4 lg:items-start">
                <li>
                    <a href="/terms-and-conditions" class="transition-opacity hover:opacity-70">Terms & Conditions</a>
                </li>
                <li>
                    <a href="/privacy-policy" class="transition-opacity hover:opacity-70">Privacy Policy</a>
                </li>
                <li>
                    <a href="/legal-information" class="transition-opacity hover:opacity-70">Legal Information</a>
                </li>
            </ul>
        </div>
        <div class="flex flex-col items-center py-8 lg:items-end lg:py-0 lg:justify-end">
            <p>Join the Ascension Vision</p>
            <p>Follow us: @ascensionvision</p>
            <ul class="flex gap-4 mt-4 text-xl">
                <a href="http://facebook.com/ascensionvision" target="_blank" rel="noreferrer noopener">
                    <i class="p-2 transition-colors transition-opacity fab fa-facebook hover:opacity-60"></i>
                </a>
                <a href="http://twitter.com/ascensionvision" target="_blank" rel="noreferrer noopener">
                    <i class="p-2 transition-colors transition-opacity fab fa-twitter hover:opacity-60"></i>
                </a>
                <a href="https://www.linkedin.com/company/ascension-vision/" target="_blank" rel="noreferrer noopener">
                    <i class="p-2 transition-colors transition-opacity fab fa-linkedin hover:opacity-60"></i>
                </a>
                <a href="http://www.instagram.com/ascensioncloudsolutions" target="_blank" rel="noreferrer noopener">
                    <i class="p-2 transition-colors transition-opacity fab fa-instagram hover:opacity-60"></i>
                </a>
            </ul>
        </div>
    </div>
</footer>