<nav class="navbar">
    <div class="menu">
        <a href="#">
            <img class="logo-icon" src="/assets/images/transparentLogo.png" alt="logo-icon"/>
        </a>
        <div class="branding">
            <a href="#">
                <img class="logo" src="/assets/images/transparent_brand.png" alt="logo"/></a>
            <a href="#" class="toggle-button">
                <div class="burger"></div>
            </a>
        </div>
    </div>
    <div class="navbar-links">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>
            <li>
                <a href="#about-us">About Us</a>
            </li>
            <li>
                <a href="#vision">Our Vision</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="" class="no-smoothState open-contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>