---
title: Blog
layout: 'blog-template.njk'
---

<div class="spacer"></div>

<img class="black-vector-1" src="/assets/images/black-vector-1.svg" alt="logo"/>

<div class="container">
    <div class="content">
        <div class="section services-section">
            <div class="row">
                <h2 id="services" class="main-heading">Recent Articles</h2>
            </div>

            <div class="row">
                 {%-for post in collections.post | reverse -%} {# it is to show the the most recent blog #}

                 {% include 'articles-snippet.njk'%}
                
                {%-endfor-%}
            </div>
                    {# will have to delete it later #}
        </div>

            {# section #}

        <div class="section about-section">
            <div class="about">
                <div class="row">
                <h2 id="services" class="main-heading">featured Articles</h2>
            </div>
                
                <div class="row">
                 {%-for post in collections.post | reverse -%} {# it is to show the the most recent blog #}

                 {% include 'articles-snippet.njk'%}
                
                {%-endfor-%}
            
            
                
        </div>
    </div>
</div>